html, body {
  background:#FFFFFF;
  margin:0;
}

#canvas {
  position:fixed;
  background:#666;
  background: red; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(#fff, #666); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(#fff, #666); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(#fff, #666); /* For Firefox 3.6 to 15 */
  background: radial-gradient(#fff, #666); /* Standard syntax (must be last) */
}
